.container{
    border: 5px solid black;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
    height: 100vh;
}

body{
    background-color: #F0E4D3;;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.navlinks{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    
}
.navlinks a{
    text-decoration: none;
    color: black;
    font-family: dancing script;
    font-size: 20px;
}

.navbar-grid{
    grid-area: 1/1/6/1;
}

.web-icon img{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.navlinks hr{
    margin-left: 0px;
    margin-right: 0px;
}

.banner{
    font-family: dancing script;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.banner p{
    margin-top: 0px;
}

.banner h1{
    margin-bottom: 3px;
}

.banner-grid{
    grid-area: 1/2/1/6;
}

.picflex img{
    border: 3px solid;
    max-width: 100%;
    max-height: 100%;
}

.picflex{
   margin-right: 15px;
}