.container{
    border: 5px solid black;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
    height: 100%;
}

body{
    background-color: whitesmoke
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.navlinks{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    
}
.navlinks a{
    text-decoration: none;
    color: black;
    font-family: dancing script;
    font-size: 25px;
}

.navbar-grid{
    grid-area: 1/1/6/1;
}

.web-icon img{
    border: 3px solid;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: 0 0 25px;
}

.web-icon a{
    color: black;
}

.navlinks hr{
    margin-left: 0px;
    margin-right: 0px;
}

.banner{
    font-family: dancing script;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.banner p{
    margin-top: 0px;
}

.banner h1{
    margin-bottom: 3px;
}

.banner-grid{
    grid-area: 1/2/1/6;
}

.picflex img{
    border: 3px solid;
    max-width: 100%;
    max-height: 100%;
}

.picflex{
   margin-right: 15px;
}

.navlinks a:hover{
    font-weight: bolder;
}

@media (max-width: 576px){

    .container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .banner{
        display: none;
    }
    .web-icon img{
        width: 100px;
        grid-row: 1;
        grid-column: 3;
    }

    .web-icon hr{
        width: 90%;
    }

    .navbar{
        display: grid;
        grid-column: span 3;
        grid-row: 1;
    }

    .navlinks{
        flex-direction: row;
        font-size: 20px;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .navlinks hr{
        width: 70%;
    }

    .photo-1{
        grid-row: 2;
        grid-column: 1;
    }
    .pic2{
        grid-row: 2;
        grid-column: 2;
    }
    .pic3{
        grid-row: 2;
        grid-column: 3;
    }
    .pic4{
        grid-row: 3;
        grid-column: 1;
    }
    .pic5{
        grid-row: 3;
        grid-column: 2;
    }
    .pic6{
        grid-row: 3;
        grid-column: 3;
    }
    .pic7{
        grid-row: 4;
        grid-column: 1;
    }
    .pic8{
        grid-row: 4;
        grid-column: 2;
    }
    .pic9{
        grid-row: 4;
        grid-column: 3;
    }
    .pic10{
        grid-row: 5;
        grid-column: 1;
    }
    .pic11{
        grid-row: 5;
        grid-column: 2;
    }
    .pic12{
        grid-row: 5;
        grid-column: 3;
    }
}